.app-text-sm{
  font-size: 11px;

}

.app-text-bold{
  font-weight: 500;
}


.app-text-gray{
  color: darken(#ebedf2, 8%);
}

.app-text-m {
  font-size: 13px;
  color: darken(#ebedf2, 8%);

}

.app-text-c {
  font-size: 13px;
  color: darken(#ebedf2, 2%);

}
