<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 p-3 mt-5 bg-light">
            <h2>Add Book</h2>
            <div [formGroup]="addBookForm">
                <div class="mb-3">
                    <!-- Commit -->
                    <label for="exampleInputEmail1" class="form-label">Book Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="name">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" formControlName="genre">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Author</label>
                    <select class="form-control" formControlName="author">
                        <option value="">Select Author</option>
                        <option [value]="author.id" *ngFor="let author of authors">{{author.name}}</option>
                    </select>
                    <div id="emailHelp" class="form-text">If you are new <b>Author</b> then <b>Register Author</b> for
                        Publishing a
                        book.</div>
                </div>
                <button class="btn btn-primary" (click)="addBook()" [disabled]="addBookForm.invalid">Add Book</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>