

  .app-header {
    display: flex;
    height: app-get($app-layout-config, header, height);
    background-color: app-get($app-background-color, label3);
    align-items: center;
    justify-content: space-between;


    &.app-header--fixed{
      position: fixed;
      padding: 0;
      top: 0;
      right: 0;
      left: 0;
      -webkit-box-shadow:0px 0px 1.5px #de1dde;
      -moz-box-shadow:0px 0px 1.5px #de1dde;
      box-shadow:0px 0px 1.5px #de1dde;

    }

    > &.app-header--item-start{
      justify-content: flex-start;

    }

    > &.app-header--item-end{
      justify-content: flex-end;

    }


    &.app-title {
      margin: 20px;
      font-size: 1.4rem;
      font-weight: 700;
      color : #2c3e50;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    &.app-subtitle {
      margin-left: 6px;
      color: #3498db;
    }

    &.app-subtitle-right {
      color: #808080;
      line-height: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 8px;
      margin-right: 20px;
    }

    &.app-header-wrapper{

      margin-top: 20px;
      margin-bottom: 20px;
      cursor: pointer;

    }
  }

  .app-header-button {
    margin:20px;
    display: flex;
    height: 25px;
    background-color: #e67e22;
    color: white;
    line-height: 25px;
    width: auto;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4%;

  }
  .app-header-mob-button {
    display: none;
  }

@include app-mobile() {



    .app-header-button {
      display: none;
      visibility: hidden;

    }

    .app-header-mob-button {
      display: inline;
      color: darken($color: #3498db, $amount: 5%);
      line-height: 20px;
      font-size: 1.4rem;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 8px;
      margin-right: 20px;
    }
}

